* {
	box-sizing: border-box;
	cursor: url(http://cur.cursors-4u.net/sports/spo-2/spo145.cur), auto;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	color: white;
    font-family: helvetica, sans-serif;
}

.flex-container {
	display: flex;
	margin: 0;
	justify-content: space-around;	
}

/*Header*/
.nba {
	display: block;
	width: 60%;
	height: 200px;
 	border-radius: 30px;
  	margin: auto;
  	margin-bottom: 50px;
  	border: 5px solid white;
	background: linear-gradient(to right, #0253A4 50%, 	#CA2C32 50%);
	height: 100%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
	padding: 15px;
	margin: 0;
}


/*Game set-up*/


section {
	margin-top: 10px;
	/*margin-bottom: 10px;*/
	width: 60%;
	flex-direction: column;
}

h2, h3, h4 {
	text-align: center;
	/*padding-bottom: 10px;*/
}


.gridLength {
	margin: 0 10px;
	padding: 10px;
}
/* Players */


.curry {
	margin: 0;
	width: 50%
}

.westbrook {
	margin: 0;
	width: 50%
}

.start, {
	color: black;
	font-family: helvetica, sans-serif;
	font-size: 1em;
	background-color: orange;
	vertical-align: baseline;
}

.nextGame {
	color: black;
	font-family: helvetica,sans-serif;
	font-size: 1em;
	background-color: orange;
	display: block;
	margin: 0 auto;
}

@media (min-width: 40em) {
	.start {
		font-size: 2em;
		background-color: orange;
	}
}

/* Grid area*/

main {
border-bottom: solid white 1px;
padding: 15px;
}

.commentary > h2 {
	color: #0253A4;
}

.counter > h2 {
	color: #CA2C32;
}

main > h2 {
	font-size: 2em;
	text-decoration: underline;
}

/*Grid*/
.gridArea {
	display: block;
	margin: auto;
}



.button {
	width: 8vw;
	height: 8vw;
	margin: auto;
	background: lightgrey;
	background-image: url(https://cdn4.iconfinder.com/data/icons/basketball-award/100/b-02-256.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	border-color: blue;
}

/*Side panels*/
.commentary {
	border-right: white solid 1px;
	min-height: 300px;
	padding-right: 15px;
	width: 20%
}
.counter {
	border-left: white solid 1px;
	min-height: 300px;
	padding-left: 15px;
	width: 20%
}