* {
	box-sizing: border-box;
	cursor: url(http://cur.cursors-4u.net/sports/spo-2/spo145.cur), auto;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: black;
	color: white;
    font-family: helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
	padding: 15px;
	margin: 0;
}

.nba {
	width: 60%;
	height: 200px;
 	border-radius: 30px;
  	margin: auto;
  	border: 5px solid white;
	background: linear-gradient(to right, #0253A4 50%, 	#CA2C32 50%);
	height: 100%;
}

h2, h3, h4 {
	text-align: center;
}

.gridLength {
	display: block;
	margin: auto;
	padding: 10px;
	width: 12%
}

main {
	display: flex;
}

.curry {
	float: left;
	text-align: left;
}

.westbrook {
	float: right;
	text-align: right;
}

div {
	display: inline-block;
	width: 68%;
}


.gridArea {
	margin: 0 auto;
	display: inline-block;
}

.button {
	width: 10vw;
	height: 10vw;
	margin: 10px;
	position: relative;
	background: orange;
	background-image: url(https://cdn4.iconfinder.com/data/icons/basketball-award/100/b-02-256.png);
	background-position: center;
	background-size: 95%;
	border-color: blue;
}

.start {
	color: black;
	font-family: helvetica, sans-serif;
	font-size: 2em;
	width: 15%;
}


aside {

border-top: solid white 1px;
	
}

/*@media (min-width: 40em) {
	.button {
	width: 20vw;
	height: 20vw;
	margin: 10px;
	background-color: red;
	}
}*/